body {
padding-left: 190px;
font-family: 'Roboto', sans-serif;
line-height: 1.5;
background-color: whitesmoke;
padding-left: 30px;
padding-right: 80px;
}

h1 {
font-size: 50px;
padding-left: 190px;
color: #a8a8a8;
}

h2 {
font-size: 33px;
padding-left: 190px;
color: #a8a8a8;
}

h3 {
padding-left: 400px;
color: green;
}

h5 {
font-size: 18px;
font-weight: bolder;
padding-left: 160px;
width: 600px;
color: #807b5d;
}

p {
padding-left: 140px;
width: 640px;
color: #0d0b01;
font-size: 14px;
line-height: 1.5;
}

p2 {
padding-left: 600px;
color: #34a352;
font-size: 20px;
}

ul {
border-radius: 2px;
top: 140px;
left: 0px;
position: fixed;
margin: 0;
padding: 0;
width: 110px;
height: 400px; 
list-style-type: none;
background-color: #01081c;
}

ul2 {
top: 40px;
left: 18px;
position: fixed;
margin: 0;
padding: 10;
width: 80px;
height: 40px; 
list-style-type: none;
background-color: #whitesmoke;
}

li a {
font-size: 12px;
display: block;
color: #a8a8a8;
padding: 8px 16px;
text-decoration: none;
font-weight: bolder;
line-height: 1.0;
}

li a:hover {
background-color: #855959;
color: white;
}

.code {
font-family: 'Cutive Mono', monospace;
display: inline-block;
border-radius: 4px;
background-color: #000a06;
border: none;
color: #cffc03;
text-align: left;
font-size: 13px;
padding: 7px;
width: 630px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.button {
display: inline-block;
border-radius: 8px;
background-color: #4d5970;
border: none;
color: #a8a8a8;
text-align: center;
font-size: 14px;
padding: 3px;
width: 200px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}
